:root {
    /*#01204B*/
    --main-bg-color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.75);
}

#header--logo_desktop {
    display: none;
}

#header--logo_mobile {
    margin: .7rem;
    font-size: 22px;
    color: white;
}

#header--information_desktop {
    display: none;
}

#header--information_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav_mobile {
    background-color: var(--main-bg-color);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_mobile_item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: .5rem;
}

.headerBasicInformation {
    text-align: right;
    padding-right: .5em;
    color: white;
    font-size: 13px;
}

#highlight,
#generalInformation {
    margin: 1rem;
}

#generalInformation {
    margin-bottom: 4rem;
}

#highlight--img {
    background-image: url(../imgs/schrader-building.jpg);
    /* The size of the image works until iPad */
    background-size: 25rem;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 4rem;
    /* margin-top: 1rem; */
}

#logo-mobile-temp {
    width: 8rem;
    height: 2.7rem;
}


/* Sidebar navigation */

.sideBar {
    display: none;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: #605C5B;
    text-align: center;
    transition-property: all;
    transition-duration: 5s;
    -webkit-box-shadow: inset 0px -9px 8px -5px rgba(0, 0, 0, 0.75), inset 0px 16px 11px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -9px 8px -5px rgba(0, 0, 0, 0.75), inset 0px 16px 11px -9px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -9px 8px -5px rgba(0, 0, 0, 0.75), inset 0px 16px 11px -9px rgba(0, 0, 0, 0.75);
}

.headerBasicInformation--mobile {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#breaker {
    border-right: 2px solid white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.closebtn {
    text-decoration: none;
    color: white;
}

#highlight--hours {
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
    margin-top: 1rem;
}

#highlight--img_title,
#highlight--hours_title {
    text-align: center;
    font-size: 16px;
    color: white;
    background: var(--main-bg-color);
    -webkit-box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
    box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
}

.generalInformation_title {
    font-size: 20px;
    /* font-weight: bolder; */
    padding-left: 1rem;
    border-bottom: .01rem solid black;
}

.generalInformation_text,
.generalInformation_text_list {
    padding-right: 1em;
    padding-left: 1em;
    font-size: 14px;
}

.generalInformation_text_list_holder {
    margin: .5rem;
    margin-left: 1rem;
}

.generalInformation_text_list {
    list-style: none;
}

.gg-menu {
    color: white;
    margin: 2rem;
}

#googleMapPortal {
    height: 20vh;
    width: 20vw;
}


/* Screen Sizes similar to iPhone X */

@media only screen and (min-width: 375px) {}


/* Laptop View */

@media only screen and (min-width: 900px) {
    header {
        background-color: var(--main-bg-color);
        display: flex;
        justify-content: space-between;
        -webkit-box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.75);
    }
    #header--logo_desktop {
        display: flex;
        width: 7rem;
        height: 6rem;
        margin: .5em;
    }
    #header--logo_mobile {
        display: none;
    }
    #header--information_desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .headerBasicInformation {
        text-align: right;
        padding-right: .5em;
        color: white;
        font-size: 32px;
    }
    #nav_desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding-right: .5em; */
    }
    .nav_desktop_item {
        justify-content: space-between;
        text-decoration: none;
        color: white;
        font-size: 28px;
        margin: .3em;
    }
    .nav_desktop_item:hover {
        font-weight: bold;
    }
    #nav_desktop_center {
        padding-left: .5em;
        padding-right: .5em;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
    }
    #nav_mobile {
        display: none;
    }
    .gg-menu {
        display: none;
    }
    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    #generalInformation {
        display: flex;
        flex-direction: column;
    }
    .generalInformation_text {
        font-size: 18px;
    }
    #highlight {
        display: flex;
        flex-direction: column;
        width: 35%;
    }
    #highlight--img_title,
    #highlight--hours_title {
        text-align: center;
        font-size: 18px;
        color: white;
        background: var(--main-bg-color);
        -webkit-box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
        -moz-box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
        box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
    }
    #highlight--img_title {
        margin-top: 3rem;
    }
}


/* Desktop View */

@media only screen and(min-width: 1380px) {
    #highlight {
        display: flex;
        flex-direction: column;
        width: 20rem;
    }
    #highlight--img_title,
    #highlight--hours_title {
        text-align: center;
        font-size: 28px;
        width: 40rem;
        color: white;
        background: var(--main-bg-color);
        -webkit-box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
        -moz-box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
        box-shadow: 0px -4px 8px -2px rgba(0, 0, 0, 0.99);
    }
}